* {
  margin: 0;
  padding: 0;
  /* border: 1px green solid */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --tealGreen: rgb(18, 140, 126);
  --tealGreenDark: rgb(7, 94, 84);
  --lightGreen: rgb(37, 211, 102);
  --blue: rgb(52, 183, 241);
  --textColor: white;
  --whiteChocolate: rgb(236, 229, 221);
  --backgroundColorGreen: rgb(30, 190, 165);
  --backgroundColorDark: rgb(39, 52, 67);
  --hoverBackgroundColor: rgb(20, 26, 32);
  --borderColor: rgb(20, 26, 32);
}
body {
  width: 100vw;
  height: 100vh;
}
.app {
  display: grid;
  place-items: center;
  height: 100vh;
}

.appBody {
  display: flex;
  background-color: var(--backgroundColorDark);
  color: var(--textColor);
  width: 90vw;
  height: 90vh;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.WelcomeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* under 586px just to see sidebar and clicked chat will show and overlay sidebar */
